.list__item {
  margin: 1rem;
  font: var(--textfont);
  color: var(--maincolor);
  position: relative;
}
.list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--bordercolor);
  width: 16rem;
  height: 1px;
  left: -1rem;
  top: calc(100% + 0.5rem);
}
.list__minorcaption {
  font: var(--minorfont);
}
.list__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0 0.5rem;
}