:root {
  --bgcolor: #e8e2db;
  --maincolor: #1a3263;
  --bordercolor: #547792;
  --h1font: 300 3.75rem "Space Mono", sans-serif;
  --h2font: 300 2.5rem "Space Mono", sans-serif;
  --textfont: 300 1.125rem "Space Mono", sans-serif;
  --minorfont: 300 0.875rem "Space Mono", sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  overscroll-behavior: none;
}
body {
  background-color: var(--bgcolor);
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 3rem;
}
.hero__caption {
  font: var(--h1font);
  color: var(--maincolor);
}
.app {
  width: 80vw;
  max-width: 1440px;
  margin: 0 0 0 3rem;
}
.app__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app__item {
  margin: 1rem;
  font: var(--textfont);
  color: var(--maincolor);
  position: relative;
}
.app__item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-color: var(--bordercolor);
  width: 16rem;
  height: 1px;
  left: -1rem;
  top: calc(100% + 0.5rem);
}
.app__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0 0.5rem;
}
.app__minortext {
  font: var(--minorfont);
}
.app__button {
  display: inline-flex;
  align-items: center;
  height: 1.75rem;
  font: var(--minorfont);
  color: var(--maincolor);
  border: 1px solid var(--bordercolor);
  background-color: var(--bgcolor);
  transition: all 0.1s ease-in-out;
}
.app__button:hover {
  background-color: var(--maincolor);
  color: var(--bgcolor);
  cursor: pointer;
}
.app__modal {
  display: none;
  position: fixed;
  width: 48rem;
  height: 8rem;
  z-index: 1;
  background-color: var(--bgcolor);
  border: solid 2px var(--bordercolor);
}
.app__modal--shown {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal__caption {
  font: var(--h2font);
  color: var(--maincolor);
}
.modal__form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modal__input {
  border: none;
  outline: none;
  height: 1.75rem;
  padding: 0.125rem 0.25rem 0.125rem;
  font: var(--minorfont);
  border: 1px solid var(--bordercolor);
}
